@font-face {
    font-family: 'cursiv';
    src:  url('../fonts/9151.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'font-bold';
    src:  url('../fonts/HelveticaNeueCyr-Bold.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'font-medium';
    src:  url('../fonts/HelveticaNeueCyr-Medium.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'font-black';
    src:  url('../fonts/HelveticaNeueCyr-Black.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'font-light';
    src:  url('../fonts/HelveticaNeueCyr-Light.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

.cursiv {
    font-family: 'cursiv'!important;
}

.font-bold {
    font-family: 'font-bold'!important;
}

.font-med {
    font-family: 'font-medium'!important;
}

.font-black {
    font-family: 'font-black'!important;
}

.font-light {
    font-family: 'font-light'!important;
}

body {
    font-family: 'font-medium';
    color: #000000;
    font-size: 16px;
    line-height: 1.2;
}

img {
    width: 100%;
}

h2, .h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'font-black'
}

h4, .h4 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'font-black'
}

h5, .h5 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'font-black'
}

.color {
    color: #6a4630;
}

.color_green {
    color: #579041;
}

.color_yelow {
    color: #fecd00;
}

.btn-primary {
    background: rgb(255,221,77);
    background: linear-gradient(45deg, rgba(255,221,77,1) 0%, rgba(254,205,0,1) 50%);
    border: 1px solid rgba(254,205,0,1);
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 50px;
    height: 50px;
    line-height: 31px;
    box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
    background: rgb(254,205,0);
    background: linear-gradient(45deg, rgba(254,205,0,1) 0%, rgba(255,221,77,1) 50%);
    border: 1px solid rgba(254,205,0,1);
    color: #000000;
    box-shadow: none;
}

header .cursiv {
    font-size: 40px;
}

.logo {
    z-index: 2;
}

.phone .h4 {
    font-size: 36px;
}

header .phone:hover {
    text-decoration: none;
}

#intro {
    background: url(../img/bg_1.png);
    padding: 85px 0 30px;
    background-size: cover;
}

#intro .title {
    font-size: 50px;
}

.grib_right {
    right: 0;
    bottom: -80px;
}

.grib_left {
    left: 0;
    bottom: -144px;
}

#intro .img {
    width: 70%;
}

#intro .desc {
    font-size: 30px;
}

#intro form {
    background: #75af5f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.15);
}

#intro input[type="text"] {
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    text-align: center;
    background: transparent;
    border: 1px solid #ffffff;
    font-family: 'font-light';
}

::-webkit-input-placeholder { /* Chrome */
    color: #ffffff;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ffffff;
    opacity: 1;
}

#product {
    padding: 60px 0 30px;
}

#product p {
    line-height: 1.5;
}

#product img {
    width: 80%
}

#for_grib {
    padding: 70px 0;
    background: #edf0eb;
}

.for_grib_item {
    border-radius: 95px;
    overflow: hidden;
    background: #75af5f;
    color: #ffffff;
    line-height: 1.5;
    box-shadow: -1px 7px 18px 4px #00000036;
}